<!-- templates/history.html -->
{% extends "base.html" %}

{% block content %}
<div class="history-container">
    <div class="horizontal-line"></div>
    <h1 class="header" style="padding-top: 40px; padding-bottom: 15px;">당신의 진단기록</h1>
    <table class="container">
        <thead>
            <tr>
                <th><h1>진단 결과</h1></th>
                <th><h1>진단 시간</h1></th>
                <th><h1>진단한 이미지</h1></th>
                <th class="explanation"><h1>설명</h1></th>
            </tr>
        </thead>
        <tbody>
            {% for record in history_records %}
            <tr>
                <td>{{ record.prediction }}</td>
                <td>{{ record.prediction_time }}</td>
                <td>
                    <img src="/static/uploads/{{ record.img }}" alt="Uploaded Image" class="history-image">
                </td>
                <td class="explanation">{{ record.explains_html | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


